# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
RemoteSystemsTempFiles/.project
Social-Net/target/classes/META-INF/MANIFEST.MF
Social-Net/.settings/org.eclipse.jdt.core.prefs
Servers/Tomcat v8.5 Server at localhost-config/web.xml
Servers/Tomcat v8.5 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v8.5 Server at localhost-config/catalina.properties
Servers/Tomcat v8.5 Server at localhost-config/catalina.policy
Social-Net/.settings/org.eclipse.jdt.core.prefs
Servers/Tomcat v8.5 Server at localhost-config/server.xml
Social-Net/.settings/org.eclipse.jdt.core.prefs
Social-Net/.settings/org.eclipse.jdt.core.prefs
Servers/Tomcat v8.5 Server at localhost-config/context.xml
Servers/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v7.0 Server at localhost-config/web.xml
Servers/Tomcat v7.0 Server at localhost-config/server.xml
Servers/Tomcat v7.0 Server at localhost-config/context.xml
Servers/Tomcat v7.0 Server at localhost-config/catalina.properties
Servers/Tomcat v7.0 Server at localhost-config/catalina.policy
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/.project
Social-Net/target/classes/META-INF/MANIFEST.MF
Social-Net/.settings/org.eclipse.jdt.core.prefs
Social-Net/target/classes/META-INF/MANIFEST.MF
Social-Net/target/classes/META-INF/maven/Social/Social-Net/pom.properties
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.frq
*.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_1
Social-Net/.settings/org.eclipse.jdt.core.prefs
Social-Net/.settings/org.eclipse.jdt.core.prefs
Social-Net/target/classes/META-INF/MANIFEST.MF
Social-Net/target/classes/META-INF/MANIFEST.MF
Social-Net/target/classes/META-INF/maven/Social/Social-Net/pom.properties
Social-Net/target/classes/META-INF/maven/Social/Social-Net/pom.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_3
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_2.fdt
Social-Net/.settings/org.eclipse.jdt.core.prefs
Social-Net/target/classes/META-INF/MANIFEST.MF
Social-Net/target/classes/META-INF/maven/Social/Social-Net/pom.properties
Social-Net/target/classes/META-INF/maven/Social/Social-Net/pom.xml
/.recommenders/
